* {
    background-color: maroon;
    font-family: 'Ubuntu' sans-serif;
    margin:0;
    padding: 0;
}
#body {
    
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100%;
    
    
    
    
}
#content{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    height: 100%;
    width: 100%;
    cursor: url('photos/metrize.png'), pointer;
}
#titleText {
    /* border: 2px solid black; */
    height: 200px;
    width: 700px;
    position: absolute;

    text-align: center;
    display: flex;
    justify-content: center;
}
input.text {
    
    flex: 1 0 auto;
    font-size: 75px;
    border: 3px solid #232b2b;
    border-radius: 6px;
    
}
input.text:hover {
    border: 0px;
    background-color: #9db0b0;
    
    
}
#playChoice {
    display: flex;
    padding: 10px 10px;
    gap:15px;
    background-color: #232b2b;
    box-shadow: 1px 1px 3px #9db0b0, -1px -1px 3px #9db0b0;
    
}
.choice {
    justify-content: center;
    
    border: 2.5px solid #bf8422 ;
    height: 7.5vw;
    width: 7.5vw;
    
    
    
}
.choice:active {
    
    border: 3.5px solid #361b28;
    box-shadow: 2px 2px 5px #361b28, -2px -2px 5px #361b28 ;
}

.choice:hover{
    /* box-shadow: 2px 2px 5px#b6ccd7 ; */
    box-shadow: .5px .5px 2px #b6ccd7, -1px -1px 2px #b6ccd7;
}


#floatingText {
    position: absolute;
    border-style: solid;
    border-color: black;
    top: 0;
    left: 0;
} 

input[name="Scissors"] {
    cursor: url('photos/scissors.png'), pointer;
}
input[name="Rock"] {
    cursor: url('photos/stones.png'), pointer;
}
input[name="Paper"] {
    cursor: url('photos/send.png'), pointer;
}